---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

{
  projects.map((project) => (
    <article class="bg-brand-muted/10 p-6 md:p-8 rounded-xl shadow-xl border border-white/5 hover:border-brand-yellow/30 transition duration-300 flex flex-col h-full group">
      <div class="flex-grow">
        <div class="overflow-hidden rounded-xl mb-6 shadow-lg">
          <img 
            class="w-full h-52 object-cover transform group-hover:scale-105 transition duration-500"
            src={project.data.image} 
            alt={project.data.title} 
          />
        </div>

        <h3 class="text-2xl font-bold text-brand-yellow mb-3 leading-tight">
          {project.data.title}
        </h3>
        
        <p class="text-gray-300 mb-2 text-lg leading-relaxed text-pretty">
          {project.data.description}
        </p>

        <a 
          href={`/projects/${project.slug}`} 
          class="text-brand-yellow text-sm font-medium inline-flex items-center gap-1 hover:underline mb-4"
        >
          Ver más
        </a>

        <div class="flex flex-wrap gap-2 mb-4">
          {project.data.tags.map((tag) => (
            <span class="px-2 py-1 text-xs font-semibold uppercase text-brand-yellow bg-brand-yellow/10 rounded-full">{tag}</span>
          ))}
        </div>
      </div>

      <div class="mt-auto pt-6 border-t border-white/10 flex flex-col sm:flex-row gap-4 justify-between">
        <a href={project.data.github} target="_blank" class="px-4 py-2 bg-brand-yellow text-black rounded-lg font-medium hover:bg-brand-purple/30 hover:text-brand-yellow transition">Ver código</a>
        <a href={project.data.demo} target="_blank" class="px-4 py-2 bg-brand-yellow text-black rounded-lg font-medium hover:bg-brand-purple/30 hover:text-brand-yellow transition">Ver demo</a>
      </div>

    </article>
  ))
}