---
const PROJECTS = [
  {
    title: 'LotePro | Plataforma de gestión de lotes agrícolas',
    description: "Desarrolado con React, NodeJS y Firebase. Una aplicación web para la gestión eficiente de lotes agrícolas, permitiendo a los usuarios monitorear y administrar sus cultivos de manera efectiva.",
    github: 'https://github.com/RedBoth/Campo-app',
    image: '/projects/lotepro.webp',
    demo: "https://lotepro.netlify.app"
  },
  {
    title: 'SVGL | Blog de experiencias de viaje',
    description: "Creado con Next.js y TailwindCSS. Es un espacio donde compartir vivencias de la mejor manera. Optimizado para SEO y con un diseño atractivo y funcional.",
    github: 'https://github.com/RedBoth',
    image: '/projects/svgl.webp',
    demo: "https://github.com/RedBoth"
  }
]
---

{
  PROJECTS.map(({ image, title, description, github, demo}) => (
    <article class="shadow-lg bg-brand-muted/10 p-6 rounded-xl hover:scale-[1.02] transition">
      <h3 class="text-xl font-semibold text-brand-yellow mb-2">
        {title}
      </h3>
      <p class="text-base mb-4 text-pretty">{description}</p>
      <img 
      class="rounded-lg mt-4"
      src={image} 
      alt={`Captura de pantalla del proyecto ${image}`} />
      <div class="flex gap-4 mt-4 justify-between">
        <a href={github} target="_blank" class="px-4 py-2 bg-brand-yellow text-black rounded-lg font-medium hover:bg-yellow-400 transition">
          Ver código
        </a>
        <a href={demo} target="_blank" class="px-4 py-2 bg-brand-yellow text-black rounded-lg font-medium hover:bg-yellow-400 transition">
          Ver demo
        </a>
      </div>
    </article>
  ))
}